@font-face {
	font-family: 'Avenir Roman';
	src: url('../fonts/Avenir-Roman.eot');
	src: local('Avenir Roman'), local('Avenir-Roman'),
		 url('../fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Avenir-Roman.woff2') format('woff2'),
		 url('../fonts/Avenir-Roman.woff') format('woff'),
		 url('../fonts/Avenir-Roman.ttf') format('truetype'),
		 url('../fonts/Avenir-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Book';
	src: url('../fonts/Avenir-Book.eot');
	src: local('Avenir Book'), local('Avenir-Book'),
		 url('../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Avenir-Book.woff2') format('woff2'),
		 url('../fonts/Avenir-Book.woff') format('woff'),
		 url('../fonts/Avenir-Book.ttf') format('truetype'),
		 url('../fonts/Avenir-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Heavy';
	src: url('../fonts/Avenir-Heavy.eot');
	src: local('Avenir Heavy'), local('Avenir-Heavy'),
		 url('../fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Avenir-Heavy.woff2') format('woff2'),
		 url('../fonts/Avenir-Heavy.woff') format('woff'),
		 url('../fonts/Avenir-Heavy.ttf') format('truetype'),
		 url('../fonts/Avenir-Heavy.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Tajawal Medium';
	src: url('../fonts/Tajawal-Medium.eot');
	src: local('Tajawal Medium'), local('Tajawal-Medium'),
		 url('../fonts/Tajawal-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Tajawal-Medium.woff2') format('woff2'),
		 url('../fonts/Tajawal-Medium.woff') format('woff'),
		 url('../fonts/Tajawal-Medium.ttf') format('truetype'),
		 url('../fonts/Tajawal-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant Regular';
	src: url('../fonts/Cormorant-Regular.eot');
	src: local('Cormorant'), local('Cormorant-Regular'),
		 url('../fonts/Cormorant-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Cormorant-Regular.woff2') format('woff2'),
		 url('../fonts/Cormorant-Regular.woff') format('woff'),
		 url('../fonts/Cormorant-Regular.ttf') format('truetype'),
		 url('../fonts/Cormorant-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant Medium';
	src: url('../fonts/Cormorant-Medium.eot');
	src: local('Cormorant Medium'), local('Cormorant-Medium'),
		 url('../fonts/Cormorant-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Cormorant-Medium.woff2') format('woff2'),
		 url('../fonts/Cormorant-Medium.woff') format('woff'),
		 url('../fonts/Cormorant-Medium.ttf') format('truetype'),
		 url('../fonts/Cormorant-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant Garamond Regular';
	src: url('../fonts/CormorantGaramond-Regular.eot');
	src: local('Cormorant Garamond'), local('Cormorant-Garamond-Regular'),
		 url('../fonts/CormorantGaramond-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/CormorantGaramond-Regular.woff2') format('woff2'),
		 url('../fonts/CormorantGaramond-Regular.woff') format('woff'),
		 url('../fonts/CormorantGaramond-Regular.ttf') format('truetype'),
		 url('../fonts/CormorantGaramond-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant Garamond Medium';
	src: url('../fonts/CormorantGaramond-Medium.eot');
	src: local('Cormorant Garamond Medium'), local('Cormorant-Garamond-Medium'),
		 url('../fonts/CormorantGaramond-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/CormorantGaramond-Medium.woff2') format('woff2'),
		 url('../fonts/CormorantGaramond-Medium.ttf') format('truetype'),
		 url('../fonts/CormorantGaramond-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant Garamond SemiBold';
	src: url('../fonts/CormorantGaramond-SemiBold.eot');
	src: local('Cormorant Garamond SemiBold'), local('Cormorant-Garamond-SemiBold'),
		 url('../fonts/CormorantGaramond-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/CormorantGaramond-SemiBold.woff2') format('woff2'),
		 url('../fonts/CormorantGaramond-SemiBold.ttf') format('truetype'),
		 url('../fonts/CormorantGaramond-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Jost Light';
	src: url('../fonts/Jost-Light.eot');
	src: local('Jost Light'), local('Jost-Light'),
		 url('../fonts/Jost-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Jost-Light.woff2') format('woff2'),
		 url('../fonts/Jost-Light.woff') format('woff'),
		 url('../fonts/Jost-Light.ttf') format('truetype'),
		 url('../fonts/Jost-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Jost Regular';
	src: url('../fonts/Jost-Regular.eot');
	src: local('Jost'), local('Jost-Regular'),
		 url('../fonts/Jost-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Jost-Regular.woff2') format('woff2'),
		 url('../fonts/Jost-Regular.woff') format('woff'),
		 url('../fonts/Jost-Regular.ttf') format('truetype'),
		 url('../fonts/Jost-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Jost Medium';
	src: url('../fonts/Jost-Medium.eot');
	src: local('Jost Medium'), local('Jost-Medium'),
		 url('../fonts/Jost-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Jost-Medium.woff2') format('woff2'),
		 url('../fonts/Jost-Medium.woff') format('woff'),
		 url('../fonts/Jost-Medium.ttf') format('truetype'),
		 url('../fonts/Jost-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@mixin navigation {
	.nav {
		margin-right: 41px;
		.nav__list {
			display: flex;
			.nav__item {
				&:not(:last-of-type) {
					margin-right: 48px;
				}
				.nav__link {
					letter-spacing: 0.1em;
					color: rgb(183, 193, 197);
					transition: color 0.5s ease;
					padding-bottom: 17px;
					padding-top: 19px;
					&:hover {
						color: rgba(230, 73, 38, 1);
						transition: color 0.5s ease;
					}
				}
				.nav__link_active {
					color: rgba(15, 48, 63, 1);
					border-bottom: 2px solid rgba(230, 73, 38, 1);
					// &:hover {
					// 	color: rgba(230, 73, 38, 1);
					// 	transition: color 0.5s ease;
					// }
				}
			}
		}
	}
	.search {
		margin-right: 127px;
		.search-form__menu {
			width: 150px;
			margin-left: 19px;
			border-bottom: 1px solid rgb(15, 48, 63);
			position: relative;
			top: -9px;
		}
	}
	.languages {
		padding-top: 17px;
		.languages__list {
			display: flex;
			.languages__item {
				&:not(:last-of-type) {
					margin-right: 21px;
				}
			}
			.languages__link {
				letter-spacing: 0.1em;
				padding-bottom: 19px;
				border-bottom: 2px solid rgba(230, 73, 38, 0);
				transition: color 0.5s ease, border 0.5s ease;
				&:hover {
					color: rgba(230, 73, 38, 1);
					border-bottom: 2px solid rgba(230, 73, 38, 1);
					transition: color 0.5s ease, border 0.5s ease;
				}
			}
			.languages__link_active {
				color: rgba(230, 73, 38, 1);
				padding-bottom: 19px;
				border-bottom: 2px solid rgba(230, 73, 38, 1);
			}
		}
	}
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	font-size: 14px;
	color: #0F303F;
	line-height: auto;
	font-family: 'Avenir Book', sans-serif;
	font-weight: 400;
 }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Cormorant Garamond Medium', 'Cormorant Garamond', serif;
	font-weight: 500;
}

ul,
ol,
li {
	display: block;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	padding: 0;
	display: block;
	color: #0F303F;
	cursor: url(../img/cursor.png), auto;
}

a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
	// cursor: url(../img/cursor.png), auto;
}

a:hover {
	color: inherit;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  background: none;
  outline: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
}

// SLIDERS

.slick-track {
	display: flex;
	justify-content: space-between;
}

.slick-list {
	overflow: hidden;
}


// HEADER
.header {
	position: relative;
	.header__menu {
	margin: 0 auto;
	max-width: 1340px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.1em;
	.logo__link {
		background: url(../img/logo-allegra.png);
		width: 129px;
		height: 16px;
		margin-right: 282px;
	}
	@include navigation;
	// .nav {
	// 	margin-right: 41px;
	// 	.nav__list {
	// 		display: flex;
	// 		.nav__item {
	// 			&:not(:last-of-type) {
	// 				margin-right: 48px;
	// 			}
	// 			.nav__link {
	// 				letter-spacing: 0.1em;
	// 				color: rgb(183, 193, 197);
	// 				transition: color 0.5s ease;
	// 				padding-bottom: 17px;
	// 				padding-top: 19px;
	// 				&:hover {
	// 					color: rgba(230, 73, 38, 1);
	// 					transition: color 0.5s ease;
	// 				}
	// 			}
	// 			.nav__link_active {
	// 				color: rgba(15, 48, 63, 1);
	// 				border-bottom: 2px solid rgba(230, 73, 38, 1);
	// 			}
	// 		}
	// 	}
	// }
	// .search {
	// 	margin-right: 127px;
	// 	.search-form__menu {
	// 		width: 150px;
	// 		margin-left: 19px;
	// 		border-bottom: 1px solid rgb(15, 48, 63);
	// 		position: relative;
	// 		top: -9px;
	// 	}
	// }
	// .languages {
	// 	padding-top: 17px;
	// 	.languages__list {
	// 		display: flex;
	// 		.languages__item {
	// 			&:not(:last-of-type) {
	// 				margin-right: 21px;
	// 			}
	// 		}
	// 		.languages__link {
	// 			letter-spacing: 0.1em;
	// 			padding-bottom: 19px;
	// 			border-bottom: 2px solid rgba(230, 73, 38, 0);
	// 			transition: color 0.5s ease, border 0.5s ease;
	// 			&:hover {
	// 				color: rgba(230, 73, 38, 1);
	// 				border-bottom: 2px solid rgba(230, 73, 38, 1);
	// 				transition: color 0.5s ease, border 0.5s ease;
	// 			}
	// 		}
	// 		.languages__link_active {
	// 			color: rgba(230, 73, 38, 1);
	// 			padding-bottom: 19px;
	// 			border-bottom: 2px solid rgba(230, 73, 38, 1);
	// 		}
	// 	}
	// }
	.user-menu {
		margin-left: auto;
		padding: 17px 0;
		.user-menu__list {
			display: flex;
			.user-menu__item:not(:last-of-type) {
				margin-right: 20px;
			}
		}
	}
	.burger-menu {
		.burger {
			display: none;
		}
		.dropdown-close {
			display: none;
		}
	}
	}
}
.dropdown-menu {
	width: 100%;
	position: absolute;
	background: rgba(255, 255, 255, 1);
	z-index: 1;
	border-top: 1px solid rgba(234, 233, 232, 1);
	left: 0; 
	
	display: none;

	.dropdown-menu__nav {
		display: none;
	}
	
	.dropdown-menu__block {
		max-width: 1150px;
		margin: 0 auto;
		.dropdown-menu__title-items {
			display: flex;
			justify-content: space-between;
			.dropdown-menu__title-item {
				padding: 45px 35px 0 35px;
				.dropdown-menu__title-pluse {
					.dropdown-menu__pluse {
						display: none;
					}
					.dropdown-menu__minus {
						display: none;
					}
				} 
				&:not(:first-of-type) {
					border-left: 1px solid rgba(234, 233, 232, 1);
				}
				.dropdown-menu__title {
					text-transform: uppercase;
					font-family: 'Avenir Heavy', sans-serif;
					font-weight: 900;
					font-size: 14px;
					margin-bottom: 30px;
				}
				.dropdown-menu__sked-items {
					.dropdown-menu__sked-item {
						// padding-bottom: 2px;
						&:last-of-type {
							margin-bottom: 60px;
						}
						.dropdown-menu__sked-link {
							font-family: 'Avenir Book', sans-serif;
							font-size: 14px;
							color: rgba(15, 48, 63, 1);
							line-height: 170%;
							transition: color 0.5s ease;
							&:hover {
								color: rgba(230, 73, 38, 1);
								transition: color 0.5s ease;
							}
						}

					}
				}
			}
		}
		.dropdown-menu__down-search-lang {
			display: none;
		}
	}
	.dropdown-menu__brands {
		padding: 20px 0;
		border-top: 1px solid rgba(234, 233, 232, 1);
		.dropdown-menu__brand {
			max-width: 521px;
			margin: 0 auto;
			.dropdown-menu__brand-items {
				display: flex;
				justify-content: space-between;
				.dropdown-menu__brand-item {
					.dropdown-menu__brand-link {
						text-transform: uppercase;
						font-family: 'Avenir Book', sans-serif;
						font-size: 12px;
					}
				}
			}
		}
	}
}


// OFFER

.offer {
	// .offer_background {
	// 	width: 50px;
	// 	background: linear-gradient(222.98deg, #E7E7E5 5.36%, #EEEEEC 60.13%);
	// }
	.slider-offer {
		margin: 0 auto;
		max-width: 1440px;
		position: relative;
		.slider-offer__image-items {
			.slider-offer__texts {
				padding: 146px 0 258px;
				margin: 0 auto;
				max-width: 1340px;
				text-transform: uppercase;
				position: relative;
				font-family: 'Cormorant Garamond Medium', 'Cormorant', serif;
				font-weight: 500;
				color: rgba(15, 48, 63, 1);
				.slider-offer__image-birkenstock {
					position: absolute;
					top: 19%;
					right: 30%;
				}
				.slider-offer__text {
					font-size: 20px;
					margin-bottom: 2px;
				}
				.slider-offer__text_color{
					color: rgba(234, 233, 232, 1);
				}
				.slider-offer__title {
					font-size: 40px;
					margin-bottom: 29px;
				}
				.slider-offer__title_color {
					color: rgba(234, 233, 232, 1);
				}
				.slider-offer__link {
					color: rgba(230, 73, 38, 1);
					font-size: 16px;
					letter-spacing: 0.03em;
					font-family: 'Avenir Roman',sans-serif;
					transition: color 0.5s ease;
					&:hover {
						color: rgba(15, 48, 63, 1);
						transition: color 0.5s ease;
					}
				}
				.slider-offer__link_color {
					color: rgba(234, 233, 232, 1);
					transition: color 0.5s ease;
					&:hover {
						color: rgba(230, 73, 38, 1);
						transition: color 0.5s ease;
					}
				}
			}
			.slider-offer__texts_center {
				text-align: center;
			}
		}
		.slider-offer__image-items_american-vintage {
			background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../img/brand_american_vintage_left.png) no-repeat left center, url(../img/brand_american_vintage_right.png) no-repeat right center;
		}
		.slider-offer__image-items_george-gina {
			background: url(../img/brand_geirge_gina.png) no-repeat right center;
		}
		.slider-offer__image-items_deha {
			background: url(../img/brand_deha.png) no-repeat right center;
		}
		.slider-offer__image-items_birkenstock {
			background: url(../img/brand_birkenstock_right.png) no-repeat right center;
		}
		.slick-dots {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			bottom: 20px;
			right: 50%;
			transform: translateX(50%);
			& li {
				&:not(:last-of-type) {
					margin-right: 51px;
				}
				& a {
					color: rgba(234, 233, 232, 1);
					opacity: 0.3;
				}
			}
			.slick-active a {
				opacity: 1;
			}
			& button {
				font-family: 'Tajawal Medium', 'Tajawal', sans-serif;
				font-weight: 500;
				font-size: 14px;
				letter-spacing: 0.1em;
			}
		}
	}
}

// MAIN

	// ARRIVAL

	.arrival {
		padding-top: 119px;
		.arrival-background {
			background: rgba(206, 198, 196, 1);
			.arrival-new {
				margin: 0 auto;
				max-width: 1440px;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.arrival-new__images {
					.arrival-new__image-right {
						width: 600px;
						height: 600px;
						margin: 50px 50px;
						border: 110px solid rgba(255, 255, 255, 1);
					}
				}
				.arrival-info {
					width: 640px;
					padding: 151px 50px 236px;
					background: url(../img/arrival-image-left.png) no-repeat center center/cover;
					text-transform: uppercase;
					.arrival-texts {
						width: 468px;
						.arrival__title {
							font-family: 'Cormorant Garamond Medium', 'Cormorant Garamond', serif;
							font-weight: 500;
							font-size: 90px;
							color: rgba(255, 255, 255, 1);
							line-height: 102.5%;
							margin-bottom: 13px;
							letter-spacing: -0.017em;
						}
						.arrival__text {
							font-family: 'Avenir Book', sans-serif;
							font-size: 14px;
							color: rgba(255, 255, 255, 1);
							margin-bottom: 35px;
							text-transform: none;
							line-height: 19px;
						}
						.arrival__link {
							font-family: 'Avenir', sans-serif;
							font-size: 16px;
							letter-spacing: 0.045em;
						}
						.arrival__link_color {
							color: rgba(255, 255, 255, 1);
							transition: color 0.5s ease;
							&:hover {
								color: rgba(230, 73, 38, 1);
								transition: color 0.5s ease;
							}
						}
					}
				}
			}
		}
	}

	// POPULAR

	.popular {
		padding: 120px 0 45px;
		max-width: 1340px;
		margin: 0 auto;
		.popular__title {
			font-family: 'Cormorant Regular', 'Cormorant', serif;
			font-weight: 400;
			font-size: 30px;
			line-height: 36px;
			text-align: center;
			letter-spacing: 0.045em;
			text-transform: uppercase;
			margin-bottom: 75px;
		}
		.slider-popular {
			width: 1055px;
			margin: 0 auto;
			justify-content: space-between;
			align-items: center;
			position: relative;
			.slider-popular__card {
				width: 230px;
				margin: 0 auto;
				text-align: center;
				.slider-popular__img {
					width: 230px;
					margin-bottom: 30px;
				}
				.slider-popular__title {
					font-family: 'Jost Medium', 'Jost', sans-serif;
					font-weight: 500;
					font-size: 18px;
					line-height: 26px;
					text-transform: uppercase;
					color: rgba(15, 48, 63, 1);
				}
				.slider-popular__text {
					font-family: 'Jost Light', 'Jost', sans-serif;
					font-weight: 300;
					text-transform: capitalize;
					font-size: 16px;
					margin-bottom: 6px;
				}
				.slider-popular__prices {
					display: flex;
					width: 151px;
					margin: 0 auto;
					.slider-popular__price {
						font-family: 'Jost Medium', 'Jost', sans-serif;
						font-weight: 500;
						letter-spacing: 0.045em;
						text-transform: uppercase;
						&:not(:last-of-type) {
							margin-right: 6px;
						}
					}
					.slider-popular__price_old {
						text-decoration: line-through 2px rgba(206, 206, 206, 1);
						color: rgba(206, 206, 206, 1);
					}
					.slider-popular__price_new {
						color: rgba(253, 84, 84, 1);
					}
				}
			}
		}
		.slider-popular .slick-arrow {
			position: absolute;
			top: 32%;
			z-index: 10;
			font-size: 0;
			cursor: url(../img/cursor.png), auto;
			&.slick-prev {
				left: -51px;
				background: url(../img/arrow-prev.png) no-repeat center center, rgba(255, 255, 255,1);
				width: 90px;
				height: 90px;
				border-radius: 50%;
			}
			&.slick-next {
				right: -51px;
				background: url(../img/arrow-next.png) no-repeat center center, rgba(255, 255, 255,1);
				width: 90px;
				height: 90px;
				border-radius: 50%;
			}
		}
	}

	// ABOUT
	.about {
		padding: 45px 0 125px;
		border-bottom: 1px solid rgba(234, 233, 232, 1);
		.about-line {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.line {
				width: 45%;
				border-bottom: 1px solid rgba(234, 233, 232, 1);
			}
			.logo-about__link {
				margin: 0 26px;
				.logo-about__img {
					width: 115px;
				}
			}
		}
		.about-bg {
			margin-top: 79px;
			background: rgba(37, 74, 90, 1);
			position: relative;
			z-index: 0;
			.about-info {
				max-width: 1042px;
				margin: 0 auto;
				padding: 44px 0 137px;
				color: rgba(234, 233, 232, 1);
				display: flex;
				flex-wrap: wrap;
				position: relative;
				.about-texts {
					position: relative;
					.about__title {
						font-family: 'Cormorant Garamond Regular', 'Cormorant Garamond', serif;
						font-weight: 400;
						font-size: 90px;
						line-height: 108%;
						text-transform: uppercase;
						margin-top: 88px;
						margin-bottom: 11px;
					}
					.title-small {
						font-size: 30px;
						display: block;
						letter-spacing: 0.2em;
						line-height: 90%;
					}
					.about__text {
						max-width: 498px;
						font-family: 'Avenir Book', sans-serif;
						font-weight: 400;
						font-size: 14px;
						line-height: 19px;
						color: rgba(255, 255, 255, 1);
					}
					.about-image-group {
						position: absolute;
						top: 0;
						right: 0;
						.about-image-group_position {
							position: relative;
							width: 179px;
							height: 264px;
							.figure__line {
								position: absolute;
								bottom: 95px;
								right: -150px;
								z-index: -1;
							}
							.figure__circle {
								position: absolute;
								bottom: 208px;
								right: -138px;
								z-index: -2;
							}
						}
					}
					
				}
			}
				
			.figure__girl {
				margin-left: 68px;
				position: absolute;
				right: 0;
			}
		}
	}
	

// FOOTER

.footer-block {
	padding: 66px 0 60px;
	.footer-search {
		max-width: 1340px;
		margin: 0 auto;
		text-align: center;
		.footer__title {
			font-family: 'Cormorant Garamond SemiBold', 'Cormorant Garamond', serif;
			font-weight: 600;
			font-size: 30px;
			line-height: 102.5%;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			color: rgba(15, 48, 63, 1);
			margin-bottom: 28px;
		}
		.footer-form {
			display: flex;
			justify-content: center;
			margin-bottom: 25px;
			.footer-form__item {
				width: 250px;
				border-bottom: 1px solid rgba(15, 48, 63, 1);
				margin-right: 11px;
				position: relative;
				top: -7px;
				font-family: 'Avenir Roman', sans-serif;
				font-weight: 400;
				font-size: 16px;
				line-height: 22px;
				text-align: center;
			}
			.footer-button {
				width: 18px;
				height: 18px;
				border: 2px solid rgba(230, 73, 38, 1);
				background: url(../img/arrow-search.png) no-repeat center center;
				cursor: url(../img/cursor.png), auto;
			}
		}
		.footer-menu {
			.footer-menu__items {
				display: flex;
				justify-content: center;
				.footer-menu__item {
					&:not(:last-of-type) {
						margin-right: 50px;
					}
					.footer-menu__link {
						font-family: 'Avenir Book', sans-serif;
						font-weight: 400;
						font-size: 16px;
						line-height: 22px;
						color: rgba(183, 193, 197, 1);
						transition: color 0.5s ease;
						&:hover {
							color: rgba(230, 73, 38, 1);
							transition: color 0.5s ease;
						}
					}
				}
			}
		}
	}
}
.footer-info {
	border-top: 1px solid rgba(234, 233, 232, 1);
	.footer-copyright {
		max-width: 1340px;
		margin: 0 auto;
		padding: 15px 0;
		display: flex;
		justify-content: space-between;
		font-family: 'Jost Regular', 'Jost', sans-serif;
		font-weight: 400;
		font-size: 12px;
		line-height: 17px;
		color: rgba(15, 48, 63, 1);
		.footer-copyright__texts {
			display: flex;
			.footer-copyright__text {
				margin-right: 3px;
			}
		}
	}
}



@media (max-width: 1439px) {
	.header {
		.header__menu {
			max-width: 996px;
			.logo__link {
				margin-right: 40px;
			}
			.nav {
				margin-right: 40px;
				.nav__list .nav__item:not(:last-of-type) {
					margin-right: 25px;
				}
			}
			.search {
				margin-right: 40px;
			}
			.languages .languages__list .languages__item:not(:last-of-type) {
				margin-right: 15px;
			}
		}
	}
	
	.offer {
		.slider-offer {
			.slider-offer__image-items {
				.slider-offer__texts {
					max-width: 996px;
				}
			}
		}
	}


}

@media (max-width: 1339px) {
	.arrival .arrival-background .arrival-new {
		justify-content: center;
		.arrival-info {
			width: 768px;
		}
	}
	.popular .slider-popular {
		width: 996px;
		.slick-arrow.slick-prev {
			left: 0;
		}
		.slick-arrow.slick-next {
			right: 0;
		}
	}
	.footer-info .footer-copyright {
		padding: 15px 20px;
	}
}

@media (max-width: 1100px) {
	.offer .slider-offer {
		.slider-offer__image-items_george-gina {
			background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../img/brand_geirge_gina.png) no-repeat right center;
		}
		.slider-offer__image-items_deha {
			background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../img/brand_deha.png) no-repeat right center;
		}
		.slider-offer__image-items_birkenstock {
			background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../img/brand_birkenstock_right.png) no-repeat right center;
		}
		.slider-offer__image-items .slider-offer__texts {
			color: rgba(234, 233, 232, 1);
			.slider-offer__link {
				color: rgba(234, 233, 232, 1);
			}
		}
	}
	.about {
		border-bottom: 1px solid rgba(234, 233, 232, 0);
		.about-bg {
			.about-info {
				max-width: 996px;
				.about-texts {
					margin-left: 164px;
					.about__title {
						margin-top: 126px;
					}
					.about-image-group {
						.about-image-group_position {
							 .figure__line {
								bottom: 140px;
								right: -60px;
							}
							.figure__circle {
								bottom: 180px;
								right: 0px;
							}
						}
					}
				}
			}
			.figure__girl {
				margin-left: 0;
				bottom: -170px;
				left: 465px;
				width: 226px;
			}
		} 
	}
 
	.footer-block {
		padding: 105px 0 50px;
	}
}

@media (max-width: 1024px) {
	.header {
		padding: 0 20px;
		.header__menu {
			.nav {
				display: none;
			}
			.search {
				display: none;
			}
			.languages {
				display: none;
			}
			.burger-menu {
				.burger {
					display: block;
					margin-left: 27px;
				}
			}
			
		}
		.dropdown-menu {
			padding-top: 10px;
			.dropdown-menu__nav {
				max-width: 660px;
				margin: 0 auto;
				display: flex;
				align-items: center;
				@include navigation;
				text-transform: uppercase;
				font-size: 14px;
				letter-spacing: 0.1em;
				.nav {
					.nav__list {
						display: flex;
						.nav__item {
							&:not(:last-of-type) {
								margin-right: 0;
								
							}
							.nav__link {
								padding: 0 10px 10px;
							}
						} 
					}
				}
				.search {
					margin-right: 0;
					padding-bottom: 10px;
				}
				.languages {
					margin-left: auto;
					padding-top: 0;
					.languages__list {
						.languages__link {
							padding-bottom: 10px;
						}
						.languages__link_active {
								padding: 0 0 10px;
						}
						
					}
				} 
			}
		}
	}
	.offer {
		.slider-offer {
			.slider-offer__image-items {
				.slider-offer__texts {
					padding-left: 20px;
				}
				.slider-offer__texts {
					.slider-offer__image-birkenstock {
						display: none;
					}
				}
			}
		}
	}
	.popular {
		.slider-popular {
			max-width: 728px;
		}
	}
}

@media (max-width: 768px) {
	.header {
		.header__menu {
			max-width: 728px;
		}
		.dropdown-menu {
			padding-top: 135px;
			.dropdown-menu__nav {
				padding: 0 20px;
			}
			.dropdown-menu__block {
				.dropdown-menu__title-items {
					display: block;
					// text-align: center;
					margin-top: 140px;
					.dropdown-menu__title-item {
						padding: 0;
						margin-bottom: 30px;
						.dropdown-menu__title-pluse {
							display: flex;
							align-items: center;
							justify-content: center;
							line-height: auto;
							.dropdown-menu__title {
								margin: 0 15px 0 0;
							}
							.dropdown-menu__pluse {
								width: 10px;
								height: 10px;
								display: block;
							}
						}
						&:not(:last-of-type) {
							padding-bottom: 50px;
						}
					}
				}
				.dropdown-menu__sked-items {
					display: none;
					text-align: center;
					margin-top: 15px;
				}
			}
		}
	}
	.arrival .arrival-background {
		padding-bottom: 50px;
		.arrival-new {
			overflow: hidden;
			.arrival-info {
				max-width: 375px;
				.arrival-texts {
					.arrival__title {
						font-size: 50px;
					}
					.arrival__text {
						max-width: 293px;
					}
				}
			}
			.arrival-new__images {
				margin-top: 50px;
				background: rgba(255, 255, 255, 1);
				padding: 50px;
				.arrival-new__image-right {
					width: 317px;
					height: auto;
					border: none;
					margin: 0;
				}
			} 
		}
	}
	.popular {
		.slider-popular {
			width: 345px;
			overflow: hidden;
			.slider-popular__card {
				width: 165px;
				// margin-left: 10px;
				.slider-popular__img {
					width: 165px;
				}
			} 
			.slick-arrow.slick-prev {
				left: -30px;
			}
			.slick-arrow.slick-next {
				right: -30px;
			}
		}
	}
	.about .about-bg .about-info {
		.figure__girl {
			display: none;
		}
		.about-texts {
			margin: 0 24px 0 24px;
		}
	}
}

@media (max-width: 640px) {
	.header {
		.dropdown-menu {
			.dropdown-menu__nav {
				justify-content: center;
				.search {
					display: none;
				}
				.languages {
					display: none;
				}
			}
			// .dropdown-menu__down-search-lang {
			// 	display: flex;
			// 	max-width: 590px;
			// 	margin: 0 auto;
			// 	.search {
			// 		margin-right: 20px;
			// 		width: 460px;
			// 		.search-form {
			// 			display: flex;
			// 			.search-form__menu {
			// 				width: 100%;
			// 				margin-left: 19px;
			// 				border-bottom: 1px solid rgb(15, 48, 63);
			// 				// position: relative;
			// 				// top: -9px;
			// 			}
			// 		}
			// 	}
			// 	// 1}
			// 	.languages {
			// 		// padding-top: 17px;
			// 		// width: 115px;
			// 		margin-left: auto;
			// 		.languages__list {
			// 			display: flex;
			// 			.languages__item {
			// 				&:not(:last-of-type) {
			// 					margin-right: 21px;
			// 				}
			// 			}
			// 			.languages__link {
			// 				letter-spacing: 0.1em;
			// 				// padding-bottom: 19px;
			// 				border-bottom: 2px solid rgba(230, 73, 38, 0);
			// 				transition: color 0.5s ease, border 0.5s ease;
			// 				&:hover {
			// 					color: rgba(230, 73, 38, 1);
			// 					border-bottom: 2px solid rgba(230, 73, 38, 1);
			// 					transition: color 0.5s ease, border 0.5s ease;
			// 				}
			// 			}
			// 			.languages__link_active {
			// 				color: rgba(230, 73, 38, 1);
			// 				// padding-bottom: 19px;
			// 				border-bottom: 2px solid rgba(230, 73, 38, 1);
			// 			}
			// 		}
			// 	}
			// }
			.dropdown-menu__block {
				.dropdown-menu__title-items {
					margin-top: 50px;
				}
			} 
		} 
	} 
}

@media (max-width: 599px) {

	.about {
		padding-bottom: 35px;
		.about-bg .about-info {
			padding: 70px 0 72px;
			// .figure__girl {
			// }
			.about-texts {
				.about__title {
					margin-top: 0;
					font-size: 50px;
				}
				.title-small {
					font-size: 20px;
				}
				.about-image-group {
					left: 50px;
					top: -70px;
					.about-image-group_position {
						width: 100px;
						height: 146px;
						.figure__line {
							bottom: 20px;
							left: 160px;
						}
						.figure__circle {
							bottom: 50px;
							left: 155px;
						}
					}
				}
			}
		}
	} 
	.footer-block {
		padding-top: 35px;
		.footer-search {
			.footer-menu {
				padding: 0 15px;
				.footer-menu__items {
					justify-content: space-between;
					.footer-menu__item {
						&:not(:last-of-type) {
							margin-right: 0;
						}
						.footer-menu__link {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
	.footer-info {
		.footer-copyright {
			flex-wrap: wrap;
			.footer-copyright__texts {
				margin-right: 10px;
			}
		}
	} 
	
}
