block about 
	section.about 
		article.about-line
			.line
			a(href="#").logo-about__link 
				img(src="img/logo-allegra-about.png", alt="ALLEGRIA").logo-about__img
			.line
		article.about-bg 
			.about-info 
				.about-texts
					h2.title-h2.about__title <span class='title-small'>О</span> нас
					p.about__text Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLoreLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumipLorem ipsumLoremLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ipsumLorem ipsumLorem 
					.about-image-group
						.about-image-group_position
							img(src="img/figure-line.png", alt="line").figure__line 
							img(src="img/figure-circle.png", alt="circle").figure__circle 
				img(src="img/about-image.png", alt="girl").figure__girl 