block arrival
	section.arrival 
		.arrival-background
			.arrival-new 
				.arrival-info
					.arrival-texts
						h2.title-h2.arrival__title new <br> arrival
						p.arrival__text Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ipLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ip
						a(href="#").arrival__link.arrival__link_color Смотреть коллекцию 
				.arrival-new__images
					//- img(src="img/arrival-image-left.png", alt="Arrival").arrival-new__image.arrival-new__image-left
								//- .arrival-new__image-item
					img(src="img/arrival-image-right.png", alt="Arrival").arrival-new__image.arrival-new__image-right