block footer 
	footer#footer.footer 
		.footer-block 
			.footer-search 
				h2.title-h2.footer__title Будьте в курсе событий
				form.footer-form(action="#")
					input(type="search" name="search" autocomplete="off" value="")#footer-form__item.footer-form__item
					button(type="submit").button.footer-button
				.footer-menu 
					ul.footer-menu__items
						li.footer-menu__item
							a.footer-menu__link(href="#") О нас
						li.footer-menu__item
							a.footer-menu__link(href="#") Распространенные вопросы
						li.footer-menu__item
							a.footer-menu__link(href="#") Бренды
		.footer-info
			.footer-copyright
				.footer-copyright__texts
					p.footer-copyright__text Все права защищены © 2020 
					a(href="#").footer-copyright__link Allegria.com
				p.footer-copyright__developer Верстка: Дорошенко Александр