block head 
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Allegria
		
		meta(name="theme-color" content="#EAE9E8")
		meta(name="description", content="Allegria - интернет-магазин одежды")
		meta(name="keywords", content="Allegria, одежда, мужская, женская, бельё")

		//- Favicon
		link(rel="shortcut icon" sizes="24x42" href="img/favicon-allegria-24x24.png", type="image/png")
		link(rel="shortcut icon" sizes="32x32" href="img/favicon-allegria-32x32.png", type="image/png")
		link(rel="shortcut icon" sizes="48x48" href="img/favicon-allegria-48x48.png", type="image/png")
		link(rel="shortcut icon" sizes="64x64" href="img/favicon-allegria-64x64.png", type="image/png")
		link(rel="shortcut icon" sizes="96x96" href="img/favicon-allegria-96x96.png", type="image/png")
		link(rel="shortcut icon" sizes="128x128" href="img/favicon-allegria-128x128.png", type="image/png")
		link(rel="shortcut icon" sizes="192x192" href="img/favicon-allegria-192x192.png", type="image/png")
		link(rel="apple-touch-icon" sizes="57x57" href="img/favicon-allegria-ati-57x57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="img/favicon-allegria-ati-60x60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon-allegria-ati-72x72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="img/favicon-allegria-ati-76x76.png")
		link(rel="apple-touch-icon" sizes="120x120" href="img/favicon-allegria-ati-120x120.png")
		link(rel="apple-touch-icon" sizes="144x144" href="img/favicon-allegria-ati-144x144.png")
		link(rel="apple-touch-icon" sizes="152x152" href="img/favicon-allegria-ati-152x152.png")
		link(rel="apple-touch-icon" sizes="180x180" href="img/favicon-allegria-ati-180x180.png")

		//- OG Tags
		meta(property="og:title" content="Allegria")
		meta(property="og:description" content="Allegria - интернет-магазин одежды")
		meta(property="og:type" content="article")
		meta(property="og:image" content="#")
		meta(property="og:site_name" content="Allegria")

		//- Fonts
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Cormorant:wght@400;500&family=Jost:wght@300;400;500&family=Tajawal:wght@500&display=swap" rel="stylesheet")


		//- Style
		link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet", href="css/style.css")