block offer 
	.offer 
		.slider-offer 
			.slider-offer__image-items.slider-offer__image-items_american-vintage
				.slider-offer__texts.slider-offer__texts_center 
					p.slider-offer__text.slider-offer__text_color Бренд
					h3.slider-offer__title.slider-offer__title_color american vintage
					a(href="#").slider-offer__link.slider-offer__link_color Смотреть коллекцию 
			.slider-offer__image-items.slider-offer__image-items_george-gina
				.slider-offer__texts 
					p.slider-offer__text Бренд
					h3.slider-offer__title george gina <br> lucy
					a(href="#").slider-offer__link Смотреть коллекцию 
			.slider-offer__image-items.slider-offer__image-items_deha
				.slider-offer__texts 
					p.slider-offer__text Бренд
					h3.slider-offer__title deha
					a(href="#").slider-offer__link Смотреть коллекцию 
			.slider-offer__image-items.slider-offer__image-items_birkenstock
				.slider-offer__texts 
					p.slider-offer__text Бренд
					h3.slider-offer__title birkenstock
					a(href="#").slider-offer__link Смотреть коллекцию 
					img(src="img/brand_birkenstock_center.png", alt="Birkenstock").slider-offer__image-birkenstock