block popular
	section.popular
		h2.title-h2.popular__title Популярное
		.slider-popular 
			.slider-popular__card
				a(href="#").slider-popular__link
					img(src="img/popular-img1.png", alt="Popular").slider-popular__img
					h4.title-h4.slider-popular__title REPlay
					p.slider-popular__text Classic shoes
					.slider-popular__prices 
						p.slider-popular__price.slider-popular__price_old 6100 UAH
						p.slider-popular__price.slider-popular__price_new 3800 UAH
			.slider-popular__card
				a(href="#").slider-popular__link
					img(src="img/popular-img2.png", alt="Popular").slider-popular__img
					h4.title-h4.slider-popular__title REPlay
					p.slider-popular__text Classic shoes
					.slider-popular__prices 
						p.slider-popular__price.slider-popular__price_old 6100 UAH
						p.slider-popular__price.slider-popular__price_new 3800 UAH
			.slider-popular__card
				a(href="#").slider-popular__link
					img(src="img/popular-img3.png", alt="Popular").slider-popular__img
					h4.title-h4.slider-popular__title REPlay
					p.slider-popular__text Classic shoes
					.slider-popular__prices
						p.slider-popular__price.slider-popular__price_old 6100 UAH
						p.slider-popular__price.slider-popular__price_new 3800 UAH
			.slider-popular__card
				a(href="#").slider-popular__link
					img(src="img/popular-img4.png", alt="Popular").slider-popular__img
					h4.title-h4.slider-popular__title REPlay
					p.slider-popular__text Classic shoes
					.slider-popular__prices 
						p.slider-popular__price.slider-popular__price_old 6100 UAH
						p.slider-popular__price.slider-popular__price_new 3800 UAH
			.slider-popular__card
				a(href="#").slider-popular__link
					img(src="img/popular-img3.png", alt="Popular").slider-popular__img
					h4.title-h4.slider-popular__title REPlay
					p.slider-popular__text Classic shoes
					.slider-popular__prices 
						p.slider-popular__price.slider-popular__price_old 6100 UAH
						p.slider-popular__price.slider-popular__price_new 3800 UAH

